<p>
  <strong>Tag:</strong>
  <%= @tag.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tag.description %>
</p>

<%= link_to 'Delete', tag_path(@tag.id),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>

<%= link_to 'Back', tags_path %>
